# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
*.env
.venv
env/
venv/
ENV/
!.env.example
project.zip

.cache/
**/.cache/
uploads/
docker-data/
Thumbs.db

# Celery
celerybeat-schedule

# Alembic
alembic/versions/*.pyc

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Specific to FastAPI/Python projects
.pytest_cache/
.mypy_cache/
htmlcov/
.tox/
.coverage
coverage.xml
site/

# IDE-specific files (optional, depending on your IDE)
# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs and databases (adjust as needed)
*.log
*.sqlite
db.sqlite3